.single-course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-course {
  background-color: #29475f;
  color: #96dde7;
  padding: 5px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 300;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 1px solid whitesmoke;
}

.single-course:hover {
  color: #29475f;
  border-bottom: 1px solid #96dde7;
  box-shadow: 0 2px 2px #96dde7;
}
