button {
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 2px 4px whitesmoke;
  background-color: #29475f;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  transition: 0.3s;
}

button:hover {
  color: #96dde7;
  border: none;
  box-shadow: 0 4px 4px #96dde7;
}

.course-details-container {
  color: whitesmoke;
}

.course-description-text {
  font-style: italic;
  margin-top: -1%;
  margin-bottom: 2%;
}

.career-foundry-website-link-text-container {
  display: flex;
  justify-content: center;
}

.career-foundry-website-link-text:hover {
  cursor: pointer;
}

.website-anchor {
  text-decoration: none;
  border-bottom: 1px solid whitesmoke;
  color: #96dde7;
  font-weight: 600;
  font-size: 1em;
  transition: 0.3s;
}

.website-anchor:hover {
  text-decoration: none;
  border-bottom: 1px solid #96dde7;
  color: whitesmoke;
}

.career-foundry-span-text {
  font-style: italic;
}
